{% extends 'base.html.twig' %}

{% block title %}Edit existing product{% endblock %}

{% block body %}
    <h1>Edit existing product!</h1>
    
    {{ include('administrator_panel/_form.html.twig', {
        button_text: 'Update!'
    }) }}
{% endblock %}
