{% extends 'base.html.twig' %}

{% block title %}Create new product{% endblock %}

{% block body %}
    <h1>Launch a new Product!</h1>
    {{ include('administrator_panel/_form.html.twig', {
        button_text: 'Create!'
    }) }}
{% endblock %}
